# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore
*
Scripts
Lib
__pycache__
.pytest_cache
Include
pyvenv.cfg
imgui.pack
.vscode
icon.ico
# Allow
!images/
!images/*
!midi-to-appeal_run.bat
!midi-to-appeal_run.sh